* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, input, button {
    font-family: 'Open Sans', sans-serif;
}

input, button {
    font-size: 16px;
}

header{
    position: sticky;
    top: 0;
    transition: 0.5s;
    background-color: cornflowerblue;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#head_bar {
    width: 100%;
    padding: 12px;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;
    z-index: 3;
}

.head_bar__title{
    width: 60%;
    text-align: right;
}

#magnifier{
    margin: 0 5%;
    transition: 0.5s;
}

#magnifier:hover{
    cursor: pointer;
}

main {
    width: 100%;
    /* height: 100%; */
    background-color: #466aac;
}

.input_section {
    color: white;
    flex-direction: column;
    padding: 5% 10%;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 5px 5px 3px #00000033;
    background-color: #2d446ed8;
    position: fixed;
    top: -110%;
    transition: 0.5s;
}

.input_section > h2 {
    text-align: center;
}

.input_section > form > .input {
    margin: 8px 0;
}

.input_section > form > button {
    background-color: cornflowerblue;
    color: white;
    border: 0;
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 3% 5%;
    cursor: pointer;
    transition: 0.5s;
}

.input_section > form > button:hover{
    background-color: #eff3fa;
    color: #612b85;
}

.input_section > form > button > span {
    font-weight: bold;
}

.input_section > form > .input > input {
    display: block;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border-width: 0;
    outline: none;
    background-color: #ccdadd;
}

.input_section > form > .input > label {
    font-weight: bold;
}

.input_section > form > .input_inline {
    margin: 12px 0;
    display: flex;
    align-items: center;
}

.input_section > form > .input_inline > label {
    font-weight: bold;
    margin-right: 10px;
}

.search_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 5%;
    width: 100%;
}


.search_section > form {
    padding: 16px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.search_section > form > label {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.5em;
}

.search_section > form > input {
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    outline: none;
    border-width: 0;
    background-color: #f0f0f0;
    margin: 2% 5%;
}

.search_section > form > button {
    width: 30px;
    background-color: #00000000;
    color: white;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.search_section > form > button:hover{
    transform: scale(1.3);
}

.book_shelf {
    margin-bottom: 1%;
    padding: 5% 3%;
    width: 100%;
    background-color: #fffaf5;
    color: #537cc9;
}

.book_shelf > .book_list {
    padding: 2% 0;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    /* row-gap: 5%; */
}

.book_shelf > .book_list > .book_item {
    padding: 5% 10%;
    box-shadow: 0 5px 5px 3px #00000033;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5%;
    background-color: white;
    color: #612b85;
}

.book_shelf > .book_list > .book_item > h3, p {
    margin: 8px 0;
}

.book_shelf > .book_list > .book_item > .action > button {
    border: 0;
    padding:5% 0;
    margin: 3% 2%;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.book_shelf > .book_list > .book_item > .action > .green {
    background-color:rgb(82, 123, 197);
    color: white;
}

.book_shelf > .book_list > .book_item > .action > .green:hover{
    background-color: #ebebeb;
    color: #537cc9;
}

.book_shelf > .book_list > .book_item > .action > .red {
    background-color: darkred;
    color: white;
}

.book_shelf > .book_list > .book_item > .action > .red:hover{
    background-color: #ebebeb;
    color: darkred;
}

#add-button{
    transform-origin: 50% 50%;
    position: fixed;
    top: 80%;
    left: 90%;
    border: 0;
    background-color: #00000000;
    transition: 0.5s;
}


@media screen and (max-width : 800px){
    .head_bar__title{
        width: max-content;
        text-align: center;
    }

    #add-button{
        left: 80%;
    }
    .book_shelf > .book_list{
        grid-template-columns: 25% 25% 25% 25% ;
    }
}

@media screen and (max-width : 600px){
    .book_shelf > .book_list{
        grid-template-columns: 50% 50%;
    }

}

@media screen and (max-width : 400px) {    
    .search_section{
        width: 100%;
    }

    .book_shelf{
        height: max-content;
        /* padding: 10% 0; */
    }

    .book_shelf > .book_list{
        grid-template-columns: 100% ;
    }
    
    #add-button{
        left: 70%;
    }
}